<section class="section-gap bg-gray">
    <div class="container">
        <div class="row mb-lg-5 mb-4">
            <div class="col-md-8">
                <h5>جدیدترین پست های مشابه</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            {{#each relatedPosts}}
            <div class="col-md-4 vh-50">
                <div class="card border-0 mb-md-0 mb-3 box-hover h-100">
                    {{!-- <a href="#"><img class="card-img-top" src="/static/front-assets/img/cards/3a.jpg"
                            alt="card image"></a> --}}
                    <div class="card-body py-4">
                        <h5 class="mb-4"><a href="/p/{{this.slug}}">{{this.title}}</a></h5>
                        <div class="mb-4">
                            <p>{{this.excerpt}} ...</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <img class="avatar-sm rounded-circle mr-3" src="{{this.avatarURL}}"
                                alt="{{this.author}}">
                            <span>{{this.author}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>